<h3>Fortress Wings</h3>
<ul>
  <li><a href="/beginner-guide" data-r="/beginner-guide"><span>BE</span>Beginner Guide</a></li>
  <li><a href="/fortress" data-r="/fortress"><span>FO</span>Fortress</a></li>
  <li><a href="/industry" data-r="/industry"><span>IN</span>Industry</a></li>
  <li><a href="/military" data-r="/military"><span>MI</span>Military</a></li>
  <li><a href="/creatures" data-r="/creatures"><span>CR</span>Creatures</a></li>
  <li><a href="/world" data-r="/world"><span>WO</span>World</a></li>
  <li><a href="/adventure-mode" data-r="/adventure-mode"><span>AD</span>Adventure Mode</a></li>
  <li><a href="/mods" data-r="/mods"><span>MO</span>Mods &amp; DFHack</a></li>
  <li><a href="/guides" data-r="/guides"><span>GU</span>Guides</a></li>
  <li><a href="/blueprints" data-r="/blueprints"><span>BL</span>Blueprints</a></li>
  <li><a href="/updates" data-r="/updates"><span>UP</span>Updates</a></li>
</ul>
<h3>Site Info</h3>
<ul>
  <li><a href="/about" data-r="/about"><span>AB</span>About</a></li>
  <li><a href="/privacy-policy" data-r="/privacy-policy"><span>PP</span>Privacy Policy</a></li>
  <li><a href="/contact" data-r="/contact"><span>CT</span>Contact</a></li>
</ul>
